snippet ge-initial-commit "🎉 initial commit"
:tada: 
endsnippet
snippet ge-feature-user-facing "✨ when adding a new user-facing feature"
:sparkles: 
endsnippet
snippet ge-improving-ui "🎨 when improving UI"
:art: 
endsnippet
snippet ge-refactoring "📦 when refactoring or improving code"
:package: 
endsnippet
snippet ge-improving-performance "🐎 when improving performance"
:racehorse: 
endsnippet
snippet ge-improving-security "🔒 when improving security"
:lock: 
endsnippet
snippet ge-updating-configs "🔧 when updating configs"
:wrench: 
endsnippet
snippet ge-improving-accessibility "♿ when improving accessibility"
:wheelchair: 
endsnippet
snippet ge-improving-dev-tools "🚀 when improving dev tools"
:rocket: 
endsnippet
snippet ge-writing-docs "📝 when writing docs (e.g. README, code comments)"
:pencil: 
endsnippet
snippet ge-version-bump "💎 when cutting a new release / version bump"
:gem: 
endsnippet
snippet ge-fixing-bug "🐛 when fixing a bug"
:bug: 
endsnippet
snippet ge-fixing-crash "💥 when fixing a crash"
:boom: 
endsnippet
snippet ge-fixing-memory-leak "🚱 when fixing a memory leak"
:non-potable_water: 
endsnippet
snippet ge-removing-code "🔥 when removing code or files"
:fire: 
endsnippet
snippet ge-adding-tests "✅ when adding new tests"
:white_check_mark: 
endsnippet
snippet ge-fixing-ci-build "💚 when fixing the CI build"
:green_heart: 
endsnippet
snippet ge-fixing-linter-warnings "👕 when fixing linter warnings"
:shirt: 
endsnippet
snippet ge-adding-instrumentation-or-metrics "📡 when adding instrumentation or metrics"
:satellite: 
endsnippet
snippet ge-adding-loggin "🔊 when adding logging"
:loud_sound: 
endsnippet
snippet ge-remove-logging "🔇 when removing logging"
:mute: 
endsnippet
snippet ge-upgrading-deps "⬆ when upgrading dependencies"
:arrow_up: 
endsnippet
snippet ge-downgrading-deps "⬇ when downgrading dependencies"
:arrow_down: 
endsnippet
snippet ge-adding-ab-test-or-feature-flag "🎌 when adding an A/B test or feature flag**"
:crossed_flags: 
endsnippet
snippet ge-making-bc-change "⚡ when making a backwards-incompatible change**"
:zap: 
endsnippet
snippet ge-work-in-progress "🚧 when the change is a work in progress (do not merge)**"
:construction: 
endsnippet
